<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Compose"
        tools:targetApi="31">
        <activity
            android:name="com.astrick.compose.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <!-- Required to open from most intent (like the command line) -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- BROWSABLE means the activity can be launched by a browser, email link etc.
                    Although while testing it seems like it still needs the DEFAULT category to work from a
                    web browser
                 -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rally" />
                <data android:host="single_account" />
                <data android:scheme="mydeeplinkapp" />
                <data android:host="greeting" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.astrick.compose.navigation.hybrid.HybridActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.astrick.compose.interoperability.ComposeViewActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>